
@{
    ViewBag.Title = "ShopCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*//样式表*@
<link href="~/Content/css/ShopCar.css" rel="stylesheet" />

<div class="ShopCar-div">
    <div class="Sdiv-top">
        <span class="ion-android-cart">&nbsp;&nbsp;购物车(2)</span>
        <span class="top_span1">已选商品<span style="color:orange;font-size:1.2em;">1</span>件&nbsp;&nbsp;共<span style="color:orange;font-size:1.2em;">￥456.00</span>元</span>
    </div>
    <div class="Sdiv-div1">
        <table class="table tab-content">
            <thead>
                <tr>
                    <th><input type="checkbox" />全选</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计(元)</th>
                    <th>操作</th>
                </tr>
            </thead>
            @{
                for (int i = 0; i < 3; i++)
                {
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><img src="~/Content/Images/ad-3.jpg" class="table_img" /></td>
                        <td>
                            <span class="td_span">信的信的信的的信的信的的信的的信的信的信的信的信</span>
                        </td>
                        <td>￥909.00</td>
                        <td>
                            <a class="table_a">-</a>
                            <input type="text" class="table_txt1" value="10" />
                            <a class="table_a">+</a>
                        </td>
                        <td><span class="">￥99.00</span></td>
                        <td>
                            <a href="#" class="btn btn-danger">收藏商品</a>
                            <a href="#" class="btn btn-dark">删除</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="Sdiv-div2">
        <input type="checkbox" class="div2_check"/>全选
        <a href="#" class="div2_a1">删除选中的商品</a>
        <a href="#" class="div2_a2">结算</a>
        <span class="top_span1">已选商品<span style="color:orange;font-size:1.2em;">1</span>件&nbsp;&nbsp;共<span style="color:orange;font-size:1.2em;">￥456.00</span>元</span>
    </div>
</div>



